dist
cabal-dev
docs_examples
*.o
*.hi
*.chi
*.chs.h
.DS_Store
*~
*cabal.sandbox.config
.cabal-sandbox
test-results.xml
tags
.stack-work
untracked_junk

*.png
*.svg
*.dot
*.pdf

*.eventlog
*.prof
*.aux
*.css
*.js
*.hp
*.ps
PaRMAT

stack.yaml
